*{margin:0;}

.form{
    display: flex;
    background-color: #0F638E;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.App{ display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family:sans-serif;
    
  }

.movies{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 5px;
    }
    
    
    .movie{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .root{
        
    }
